.menu-item .li{
    list-style: none;
}
.menu-item .a{
    text-decoration: none;
}
.contact_us .title {
    font-family: Arial, sans-serif;
    /* Thay 'Arial' bằng font mà bạn muốn sử dụng */
    font-size: 24px; /* Thay đổi kích cỡ font nếu cần */
    font-weight: bold; /* Độ đậm của font */
    color: #333; /* Màu sắc của font */
    /* Thêm các thuộc tính CSS khác cho tiêu đề nếu cần thiết */
  }

  .contact_us .form-control {
    font-family: Arial, sans-serif;
    /* Font cho input */
    font-size: 16px; /* Kích cỡ font cho input */
    color: #555; /* Màu sắc của chữ trong input */
    /* Thêm các thuộc tính CSS khác cho input nếu cần */
  }

.blogmain{
    width: 100%;
    height: 400px;
    background: url("/picture/banner1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}
.blogmain::before{
    position: absolute;
    width: 100%;
    height: 400px;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    
}

.blogmain-text {
    position: absolute;
    text-align: center;
    color: #fff;
    padding-top: -50px;
    margin-top: -50px;
    filter: brightness(1.5);
   
}

.btl_blog a{
    background-color: #7995a3;
    border-radius: 16px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    width: 100px;
    padding: 5px;  
    margin: 10px;
    font-weight: 600;
}
.btl_blog a:hover{
    font-size: 19px;
}
.blogmain-text h1{
   margin: 50px 50px 40px 50px;
   color: #fff;
   filter: brightness(1.5); 

}

.blogmain-text h5{
    padding: 0px 20px;
    color: #fff;
    filter: brightness(1.5);
    font-size: 18px;
   
}
.card {
    transition: all 0.3s;
    border-radius: 20px;
    height: auto;
}

.card img{
    border-radius: 20px;
}

.card:hover{
    transform: scale(1.05);
}
.card-body button{
    border-radius: 10px;
    border: 0.75px solid #00642091;
    height: 30px;
    border-radius: 10px;
    background-color: white;

}
.small-news .left, .small-news .right {
    display: inline-block;
    vertical-align: top;
}

.card-body button:hover{
    border-radius: 10px;
    border: 0.75px solid  #00642091;
    font-size: 16px;
}
.card-body a{
    display: block;
    color: #00642091;
    font-size: 18px;
    transition: transform 0.9s ease;
    font-weight: bold;
}
.card-body.card-link a:hover{
        color: rgb(19, 107, 42);
        transform: translate(1px, 1px);
}
.card-body p{
    font-size: 16px;
    color: rgb(99, 89, 89);
    font-weight:bold;

}

.banner-image {
    width: 100%;
    margin-top: 50px;
    position: relative;
    z-index: -1;
  }
  
  .slider-blog {
    margin-top: 20px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
  }

  .slide-blog {
    min-width: 100%; /* Đảm bảo mỗi slide có chiều rộng tối thiểu bằng kích thước của viewport */
  }
  
  .slide-blog img {
    width: 100%; /* Đảm bảo ảnh slide chiếm toàn bộ chiều rộng của slide */
    height: auto; /* Chiều cao tự điều chỉnh để duy trì tỉ lệ khung hình */
  }
  


@-webkit-keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-1500px));
    }
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-1500px));
    }

}
.slider-blog .slide-block-track {
    -webkit-animation: scroll 100s linear infinite;
    animation: scroll 100s linear infinite;
    display: flex;
    width: calc(250px * 14);
}



     * {
  font-family:  Arial, sans-serif; 
}

.mymainmenu{
  background-color:#BED2E0;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.navbar-nav{
  font-size: 1.2rem;
  color: #646464;
  justify-content: space-between;
  font-weight: bold;
}
.nav-link:hover{
  color: white;
}

/* CSS để dàn trang các mục */
.nav-item {
margin: 0 10px;
display: flex;
align-items: center;
}
