#header{
    background: white;
    z-index: 20;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15)
}

.main-header {
    z-index: 10;
    position: relative;
    height: 70px;
}

.box-logo {
    margin-left: 0px;
    margin-right: 30px;
    line-height: 14px;
    padding-top: 0px;
    margin-top: 0px;
    max-height: 100%;
    width: 110px;
}

.img-logo {
    max-width: 100%;
    max-height: 70px;
    width: auto;
    height: auto;
}
.row-header{
    margin-top : 17px;
}
.ul-menu-header{
    margin-bottom: 0px!important;
}
.menu-header{
    list-style: none;
    margin-right: 15px;
}
.link-menu-header{
    color: rgb(6, 70, 53);
    font-size: 14.7px;
    text-transform: uppercase;
    font-weight: 600;
}
.image-cart-header{
    width: 24px;
    height: 24px;
}
.text-cart{
    color: rgb(6, 70, 53);
    font-weight: 600;
    font-size: 12.6px;
    text-transform: uppercase;
    margin-right: 12px;
}
.total-cart-header{
    color: rgb(81, 146, 89);
    font-size: 19px;
    font-weight: bold;
}
.search-header{
    position: relative;
}
#search-button{
    border: none;
    background-color: white;
    position: absolute;
    right: 2px;
    top: 7px;
    color: black;
    z-index: 5;
}
.search-header{
    margin-right: 20px;
}
#search-input-header{
    width: 180px;
    border-radius: 20px;
}
.top-header {
    background: #40974b !important;
}

.text-white {
    color: white;
    margin-right: 25px;
    font-size: 12.6px;
}

.header-block-block-1 {
    display: flex;
}

.p-margin-0 {
    margin: 5px 0;
}

.icon-top-header {
    margin-right: 5px;
}

.icon-top-header-right {
    color: white;
    margin-left: 10px;
    font-size: 12.6px;
    margin-top: 6px;
}

.top-header-right {
    display: flex;
    justify-content: end;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.display-none{
    display: none !important;
}

.icon-dropdown-product{
    font-weight: 400;
    margin-top: -1px;
    margin-left: 4px;
    font-size: 14px;
}

.link-menu-header:hover , .link-menu-header:focus{
    text-decoration: none;
    color:#137b20;
}
.dropdown-header-product::after{
    display: none!important;
}
.dropdown-item-product{
    padding: 3 20px !important;
    border-bottom: 1px solid #ececec!important;
    font-size: 14px;
}
.dropdown-item-menu-product{
    width: 150px;
}


/* CSS footer */

.hr-footer {
    border-top: 1px solid #616060;
    width: 100%;
}

.text-description-company {
    font-size: 15px;
    line-height: 22.8px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
}

.icon-footer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 9px;
    margin-right: 10px;
}

.icon-footer i {
    font-size: 15px;
    color: white;
}

.icon-facebook {
    background: rgb(58, 88, 157);
}

.icon-instagram {
    background: rgb(59, 105, 148);
}

.icon-twitter {
    background: rgb(36, 120, 186);
}

.icon-titok {
    background: black;
}

.icon-linkedin {
    background: rgb(0, 114, 183);
}

.social-icons-footer {
    display: flex;
}

#footer-section2 {
    font-size: 15px;
    padding-top: 40px;
}

.contact-footer i {
    color: #519259;
    margin-right: 5px;
}

.contact-footer a {
    color: black;
    margin-bottom: 5px;
}

.contact-footer .title {
    font-size: 18px;
    font-weight: bold;
}

#footer-chinhsach .title {
    font-weight: bold;
    font-size: 18px;
}

#footer-chinhsach .bullet-arrow {
    list-style: none;
    position: relative;
    padding: 7px 0 7px 0px;
    margin: 0;
    border-bottom: 1px solid #ececec;
}

#footer-chinhsach .bullet-arrow::before {
    font-family: "fl-icons";
    left: 0;
    position: absolute;
    font-size: 16px;
    color: #7a9c59;
}

#footer-chinhsach ul {
    padding-left: 0px;
}

#footer-chinhsach ul li {
    padding-left: 0px;
}

#footer-chinhsach i {
    color: #519259;
    margin-right: 15px;
}

#footer-chinhsach a {
    color: black;
}

.iframe-footer {
    border: none;
    overflow: scroll;
    width: 100%;
    height: 125px;
}

.finnal-footer {
    color: rgba(255, 255, 255, .5);
    background: #5b5b5b;
    margin-top: 15px;
}

.finnal-footer ul li a {
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
}

.finnal-footer ul {
    display: flex;
    padding: 15px 0 5px;
    width: max-content;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.finnal-footer ul li {
    list-style: none;
    margin-right: 15px;
}

.finnal-footer ul li a:hover {
    color: antiquewhite;
    text-decoration: none;
}

.footer-finnal {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
}

.finnal-footer i {
    font-size: 30px;
    margin-left: 10px;
}

.finnal-footer i:hover {
    color: antiquewhite;
}

.iframe-facebook {
    padding-top: 40px;
}